<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="uk.gov.hmrc.play.logging.JsonEncoder"/>
    </appender>

    <logger name="uk.gov" level="${logger.uk.gov:-WARN}"/>

    <logger name="common" level="DEBUG"/>
    <logger name="config" level="DEBUG"/>
    <logger name="connectors" level="DEBUG"/>
    <logger name="controllers" level="DEBUG"/>
    <logger name="filters" level="DEBUG"/>
    <logger name="forms" level="DEBUG"/>
    <logger name="models" level="DEBUG"/>
    <logger name="repositories" level="DEBUG"/>
    <logger name="services" level="DEBUG"/>
    <logger name="utils" level="DEBUG"/>
    <logger name="views" level="DEBUG"/>
    <logger name="viewsupport" level="DEBUG"/>

    <root level="${logger.application:-WARN}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
